<!DOCTYPE html>
<html lang="es">

<head>
    <title>Menu</title>
    <meta name="viewport" content="user-scalable=no, width=device,with" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="public/css/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/public/css/styles.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="public/js/jquery.js"></script>
    <script type="text/javascript" src="public/js/sidebar.js"></script>


</head>

<body id="body">
    <!-------MENU LATERAL------->


    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <i class="bi bi-person-circle"></i>
            <h4>
                <% if (typeof usuario !=='undefined' && usuario) { %>
                    <%= usuario.nombreUsuario || 'Usuario' %>
                        <% if (usuario.esPremium) { %>
                            <div class="premium-badge">PREMIUM</div>
                            <% } %>
                                <% } else { %>
                                    Admin
                                    <% } %>
            </h4>
        </div>
        <!-- Agregar este elemento en la lista de navegaci贸n -->


        <div class="options__menu">
            <a href="/dashboard" class="selected">
                <div class="option">
                    <i class="bx bx-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="/proyectos" class="selected">
                <div class="option">
                    <i class="bi bi-folder"></i>
                    <h4>Mis Proyectos</h4>
                </div>
            </a>

            <a href="/editarB" class="selected">
                <div class="option">
                    <i class='bx bx-image' title="Bocetos"></i>
                    <h4>Editar bocetos</h4>
                </div>
            </a>

            <a href="/renders" class="selected">
                <div class="option">
                    <i class='bx bx-extension icon' title="Renders"></i>
                    <h4>Crear Renders</h4>
                </div>
            </a>

            <a href="/suscripcion" class="selected">
                <div class="option">
                    <i class='bx bx-dollar' title="Suscripci贸n"></i>
                    <h4>Suscripci贸n</h4>
                </div>
            </a>

            <a href="/feedback" class="selected">
                <div class="option">
                    <i class='bx bx-chat' title="Feedback"></i>
                    <h4>Feedback</h4>
                </div>
            </a>

            <a href="/profile" class="selected">
                <div class="option">
                    <i class="bi bi-person-square" title="Perfil"></i>
                    <h4>Perfil</h4>
                </div>
            </a>


            <a href="/logout" class="selected">
                <div class="option">
                    <i class="bi bi-box-arrow-right" title="Cerrar"></i>
                    <h4>Cerrar Sesi贸n</h4>
                </div>
            </a>

        </div>

    </div>

    <script type="text/javascript" src="public/js/sidebar.js"></script>
</body>

</html>