<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P치gina no encontrada</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <h1>Ups, ocurri칩 un error</h1>
  <p>No existe la direcci칩n que est치s buscando.</p>
  <a href="/">Volver al inicio</a>
</body>
</html>
