<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/login_style.css">
  </head>
  <body>
      <div class="login-container">
        <% if (typeof error !== 'undefined') { %>
          <p class="error-message"><%= error %></p>
        <% } %>
        <form action="/login" method="POST" class="login-form">
          <h2>Iniciar Sesión</h2>
          <label for="username">Nombre de Usuario:</label>
          <input type="text" name="username" id="username" required>
          <label for="password">Contraseña:</label>
          <input type="password" name="password" id="password" required>
          <button type="submit">Iniciar Sesión</button>
          <h3>
            <label>¿Aún no tienes una cuenta? <a href="/register"> Registrate</a></label>
          </h3>
        </form>
    </div>
  </body>
</html>
